<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prediction</title>
  </head>
  <body>
    <div style="height: 100vh; margin: 0; padding: 0">
      <div style="height: 100px; background-color: #0c0f38"></div>
      <div class="images">
        <img name="image1" src="{{ image1 }}" alt="Damaged" />
        <a href="{{image2}}" download>
          <!-- <img name = "image2" src="{{ image2 }}" alt="Damaged"/> -->
          Click here to view the image
        </a>
      </div>
      <div style="height: 100px; background-color: #0c0f38"></div>
    </div>
  </body>
</html>
